In [1]:
import pandas as pd
from google.colab import files

In [11]:
uploaded = files.upload()

Saving Fortune_11.csv to Fortune_11 (1).csv

In [15]:
df = pd.read_csv('Fortune_11 (1).csv')

In [16]:
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                  NaN  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116    NaN
7   8   Kayelectronics                  NaN  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [17]:
df.fillna(0)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      0
4   5        Techdrill                    0  ...  7,435,363 Dollars   3138627      0
5   6         Techline                    0  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                    0  ...  6,249,498 Dollars   3005116      0
7   8   Kayelectronics                    0  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [18]:
df.fillna(2)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      2
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      2
4   5        Techdrill                    2  ...  7,435,363 Dollars   3138627      2
5   6         Techline                    2  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                    2  ...  6,249,498 Dollars   3005116      2
7   8   Kayelectronics                    2  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [20]:
df.fillna({'Name':'none','Profit':0,'Growth':0,'Industry':'none'})

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      0
4   5        Techdrill                 none  ...  7,435,363 Dollars   3138627      0
5   6         Techline                 none  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                 none  ...  6,249,498 Dollars   3005116      0
7   8   Kayelectronics                 none  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [22]:
#all missing values will be filled with the previous values of that column
df.fillna(method = 'ffill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     7%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [23]:
#all missing values will be filled with the previous values of that column
df.fillna(method = 'pad')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     7%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [24]:
#all missing values will be filled with the backword values of that column
df.fillna(method = 'bfill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820     7%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557     7%
4   5        Techdrill          IT Services  ...  7,435,363 Dollars   3138627     7%
5   6         Techline          IT Services  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace          IT Services  ...  6,249,498 Dollars   3005116     4%
7   8   Kayelectronics          IT Services  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [25]:
#Must specify a fill 'value' or 'method'
df.fillna(axis=0)

ValueError: ignored

In [26]:
df.fillna(method='ffill',axis=0)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     7%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [27]:
#nan values will fill by previous column values
df.fillna(method='ffill',axis=1)

   ID             Name  ...    Profit   Growth
0   1          Lamtone  ...   5274553      30%
1   2        Stripfind  ...  11412916      20%
2   3  Canecorporation  ...   3005820  3005820
3   4         Mattouch  ...   6597557  6597557
4   5        Techdrill  ...   3138627  3138627
5   6         Techline  ...   8427816       7%
6   7          Cityace  ...   3005116  3005116
7   8   Kayelectronics  ...   5573830       4%
8   9          Ganzlax  ...  11901180       7%
9  10      Trantraxlax  ...   5453060       7%

[10 rows x 8 columns]

In [28]:
#nan values will fill by backword column values
df.fillna(method='bfill',axis=1)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                 2009  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                 2006  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                 2010  ...  6,249,498 Dollars   3005116    NaN
7   8   Kayelectronics                 2009  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [30]:
#nan values will fill by 0 but only one value for each column because limit =1
df.fillna(0,limit=1)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                    0  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116    NaN
7   8   Kayelectronics                  NaN  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [31]:
df.fillna(0,limit=2)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      0
4   5        Techdrill                    0  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                    0  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116    NaN
7   8   Kayelectronics                  NaN  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [32]:
df.fillna(method='ffill',limit=1)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     7%
7   8   Kayelectronics                  NaN  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [33]:
df.fillna(method='ffill',limit=2)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline               Health  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     7%
7   8   Kayelectronics                  NaN  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [35]:
#inplace=true ->does not create new dataframe. modify the original one
df.fillna(5,inplace=True)
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      5
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      5
4   5        Techdrill                    5  ...  7,435,363 Dollars   3138627      5
5   6         Techline                    5  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                    5  ...  6,249,498 Dollars   3005116      5
7   8   Kayelectronics                    5  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [36]:
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      5
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557      5
4   5        Techdrill                    5  ...  7,435,363 Dollars   3138627      5
5   6         Techline                    5  ...  5,470,303 Dollars   8427816     7%
6   7          Cityace                    5  ...  6,249,498 Dollars   3005116      5
7   8   Kayelectronics                    5  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180     7%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]